/*
    /\                   ____  ____  _  __ __  __  __  _____  _  __
   /  \                 / __/ / __ \ | '_ '_ \ \ \/ / / ___ \ | '_ \
  /   /                 \__ \ \  __/ | || || |  \  /  \ \_/ / | || |
 /   / /\               /___/  \__/  |_||_||_|  /_/    \___/  |_||_|
/   / /  \
\  / /   /             _____  _  __   _  ____  ____   _____  __   __
 \/ /   / /\           | __/ |_| | | |_| | _ \ | _ \ / ___ \ \ \ / /
   /   / /  \          | _/  | | | | | | | __/ | __/ \ \_/ /  \ ' /
   \   \ \   \         |_|   |_| |_| |_| |_|   |_|    \___/    \_/
    \   \ \   \
     \   \ \   \
      \  / /   /
       \/ /   /
         /   /
         \  /
          \/
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  color: white;
  font: 14px/1.5 "Trebuchet MS", serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 20px;
  text-align: center;
  margin: 18px 0 -17px 0;
}
h2 {
  font-size: 15px;
  padding-bottom: 3px;
}
p {
  padding-top: 15px;
}
ul {
  list-style-type: none;
}
li {
  padding: 15px 0 0 110px;
}
@font-face {
  font-family: digital-7-mono;
  src: url(digital-7-mono.ttf);
}
#back {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 471px;
  height: 623px;
  margin: auto;
}
#info_bar {
  position: absolute;
  bottom: 552px;
  font: 40px "digital-7-mono", serif;
  text-align: right;
  width: 471px;
  height: 71px;
  overflow: hidden;
  background: url(images/info_bar.png);
}
#info_block {
  float: left;
  width: 150px;
  height: 50px;
  margin: 11px;
  overflow: hidden;
}
#info_balls {
  float: right;
  width: 150px;
  height: 50px;
}
#timer {
  position: absolute;
  top: 20px;
  right: 260px;
  height: 30px;
  line-height: 20px;
}
#score {
  position: absolute;
  top: 20px;
  right: 23px;
  height: 30px;
  line-height: 20px;
}
#balls {
  width: 450px;
  height: 450px;
  margin: 11px;
}
#field, #options_page, #help_page, #scores_page {
  position: absolute;
  top: 76px;
  width: 471px;
  height: 471px;
  background: url(images/square_background.png);
}
#field {
  background: url(images/field.png);
}
#options_page {
  display: none
}
#help_page {
  display: none
}
#scores_page {
  display: none
}
.options_block {
  padding: 17px 30px 0 30px;
}
#buttons {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.button {
  display: table-cell;
  width: 81px;
  height: 26px;
  color: #505050;
  vertical-align: middle;
  text-align: center;
  margin: 20px;
  background-image: url(images/button.png);
}
.button:active {
  background-position: 0 -26px;
}
#spacer {
  display: table-cell;
  width: 20px;
}
.help_block {
  position: absolute;
  top: 50px;
  left: 30px;
  text-align: justify;
  width: 400px;
  height: 400px;
  padding: 0 10px;
  overflow: auto;
}
#li_lines {
  background: url(images/lines_mode.png) no-repeat 0 30px;
}
#li_rectangles {
  background: url(images/rectangles_mode.png) no-repeat 0 10px;
}
#li_rings {
  background: url(images/rings_mode.png) no-repeat  0 25px;
}
#li_blocks {
  background: url(images/blocks_mode.png) no-repeat 0 30px;
}
.scores_block {
  display: table;
  position: absolute;
  top: 70px;
  left: 30px;
  width: 411px;
}
p.tr {
  display: table-row;
  height: 40px;
}
span.th {
  display: table-cell;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
span.td {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}
span.digital {
  font: 25px "digital-7-mono", serif;
  line-height: 13px;
}
#footer_bar {
  position: absolute;
  top: 552px;
  width: 471px;
  height: 71px;
  overflow: hidden;
  background: url(images/info_bar.png);
}
#footer_bar:hover {
  overflow: visible;
}
#footer_bar span.footer_icons {
  position: absolute;
  bottom: 13px;
  height: 46px;
  opacity: 0.5;
  background-image: url(images/icons.png);
  cursor: pointer;
}
#footer_bar span.footer_icons:hover {
  opacity: 1;
}
span.tooltip {
  position: absolute;
  left: 50%;
  top: 70px;
  width: 500px;
  text-align: center;
  margin-left: -250px;
  opacity: 0;
}
span.footer_icons:hover span.tooltip {
  opacity: 1;
}
#logo {
  left: 22px;
  width: 17px;
}
#options {
  right: 15px;
  width: 50px;
  background-position: -57px 0;
}
#cc {
  left: 57px;
  width: 39px;
  background-position: -17px 0;
}
#help {
  right: 78px;
  width: 22px;
  background-position: -152px 0;
}
#mode {
  right: 170px;
  width: 37px;
  background-position: -253px 0;
}
#restart {
  right: 220px;
  width: 44px;
  background-position: -108px 0;
}
#high_score {
  right: 117px;
  width: 40px;
  background-position: -174px 0;
}
@media (min-width:960px) {
  #decor {
    position: absolute;
    right: -255px;
    bottom: -70px;
    width: 960px;
    height: 761px;
    background: url(images/decor.png);
  }
}
@media (max-width:960px) {
  #decor {
    position: absolute;
    right: -175px;
    bottom: -15px;
    width: 820px;
    height: 650px;
    background: url(images/decor_small.png);
  }
}
input[type=checkbox], input[type=radio] {
  opacity: 0;
}
input[type=text] {
  width: 20px;
}
input + label {
  height: 20px;
  padding-left: 20px;
  margin: 0 3px 0 -2px;
  background: url(images/controls.png) no-repeat;
}
input[type=checkbox] + label {
  background-position: 0 0;
}
input[type=checkbox] + label:hover {
  background-position: 0 -20px;
}
input[type=checkbox] + label:active {
  background-position: 0 -40px;
}
input[type=checkbox]:disabled + label {
  background-position: 0 -60px;
}
input[type=checkbox]:checked + label {
  background-position: 0 -80px;
}
input[type=checkbox]:checked + label:hover {
  background-position: 0 -100px;
}
input[type=checkbox]:checked + label:active {
  background-position: 0 -120px;
}
input[type=checkbox]:checked:disabled + label {
  background-position: 0 -140px;
}
input[type=radio] + label {
  background-position: 0 -160px;
}
input[type=radio] + label:hover {
  background-position: 0 -180px;
}
input[type=radio] + label:active {
  background-position: 0 -200px;
}
input[type=radio]:disabled + label {
  background-position: 0 -220px;
}
input[type=radio]:checked + label {
  background-position: 0 -240px;
}
input[type=radio]:checked + label:hover {
  background-position: 0 -260px;
}
input[type=radio]:checked + label:active {
  background-position: 0 -280px;
}
input[type=radio]:checked:disabled + label {
  background-position: 0 -300px;
}
